<% content_for :page_header do %>
  <%= javascript_include_tag "photos" %>
<% end %>
<h1>Create a slide</h1>

<div class="slide-form">
	<%= form_for @slide do |f| %>
	  <%= render 'shared/error_messages', model: @slide %>
	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.label :description %>
	  <%= f.text_area :description %>

	  <%= f.submit "Create Slide" %>
	<% end %>
</div>

<div class="photos">
	<div id="facebook">
	  <h2>Facebook Photos</h2>
	  <div class="main">
	  </div>
	</div>


	<div id="instagram">
		<h2>Instagram Photos</h2>
		<div class="main">
			<div class="instagram-photos">

			</div>
		</div>
	</div>
</div>
