<h1>Create a slide</h1>

<div class="slide-form">
	<%= form_for @slide do |f| %>
	  <%= render 'shared/error_messages', model: @slide %>
	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.label :description %>
	  <%= f.text_area :description %>

	  <%= f.submit "Create Slide" %>
	<% end %>
</div>

<div id="facebook">
  <h2>Facebook Photos</h2>
  <div class="main">
  </div>
</div>
