<div class="container center">
  <div class="columns">
    <div class="logo">
      <h1>InstaSlide</h1>
    </div>
      <div class="tagline-line"></div>
      <h3 class="tagline">beautiful, customizable slide shows.</p>
      <div class="tagline-line"></div>
  </div>
  <div class="omniauth">
    <% unless signed_in? %>
      <p class="sign-in">Sign in with</p>
    <% end %>
    <div class="facebook">
  	  <% if facebook_token? %>
        <p>Facebook Access</p>
      <% else %>
        <%= link_to image_tag("facebook-logo.jpg", alt: "facebook", size: "50x50"), '/auth/facebook'%>
      <% end %>
    </div>

    <div class="instagram">
      <% if instagram_token? %>
        <p>Instagram Access</p>
      <% else %>
        <%= link_to image_tag("instagram-logo.png", alt: "instagram", size: "50x50"), '/auth/instagram' %>
      <% end %>
    </div>

    <div class="flickr">
    <% if flickr_token? %>
      <p>Flickr Access</p>
    <% else %>
      <%= link_to image_tag("flickr-logo.jpg", alt: "flickr", size: "50x50"), '/auth/flickr' %>
    <% end %>
    </div>
  </div>
<%= link_to "create a slide", new_slide_path, class: "slide-button auth-button" %>
<% if signed_in? %>
  <%= link_to "signout", signout_path, method: :delete %>
<% end %>
</div>


